@import"./navigation";
@import"./reset";
@import"./variables";






//  functions

@function weight($weight-name){
    
    @return map-get($font-weights,$weight-name );
}


.mobile{
    display: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }