@import"./navigation";
@import"./variables";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    color: $text-color;

}







/* grid layout */

[class*="col-"] {
    float: left;
    padding: 15px;
    // border: 1px red solid;
  }
  
  .row {
    width: 80%;
    margin: 0 auto;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 { width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 { width: 75%;}
.col-10 {width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 {width: 100%;}


.mobile{
    display: none;
}


.introduction{


    h1{
        font-size: 50px;
        margin-top: 60px;
        color: $headings-color;
    }
    p{
        
        margin-top: 10px;
    }

    button{
        margin-top: 20px;
    }


}

.about-company{
    p{
        margin: 20px 0;
    }
    h2{
        font-size: 35px;
        color: $headings-color;
    }

    .breadcrumbs{
        background-color: $button-colors;
        padding: 4px 12px;
        border-radius: 12px;
        margin-right: 10px;
        color: $button-textColor;
    }

    .highlight-headings{
        color: $headings-color;
        font-weight: 600;
    
    }
}


.testimonial{
    margin-top: 50px;
    padding: 80px 0;
    text-align: center;

   

    h3{
        text-align: center;
        color: $headings-color;
        font-size: 30px;
        padding: 40px;

    }
    .testimony{
        text-align: center;
        margin: 10px;
    }
    .col-3{
        position: relative;
        border: 5px solid hsl(0, 0%, 98%);
        border-radius: 2px;
        padding: 30px;
        margin: 15px;
        background-color: hsl(0, 0%, 98%);
        
    
    }
    .glider-track{
        margin: 50px 0 ;
    }
    .avatars{
        width: 20%;
        position: relative;
        top: -70px;
        z-index: 9999p;
    }

    .name{
        color: $headings-color;
        font-weight: 600;
        position: relative;
        top: -40px;
    }

    
    .row{
        width: 80%;
    }
}

.call-to-action{

    height: auto;
    padding: 50px 0;
    
    
    background:
    linear-gradient(
        to right,
        $button-colors
    );
     



    h4{
        font-size: 35px;
        color: $button-textColor;
        margin: 30px;
    }
    .cta{
        color:  $button-colors;
        background-color: $button-textColor;
        margin: 45px;
        position: relative;
        top: 15px;
        left: 180px;

    }
    
  
}


footer{
    height: auto;
    background-color: hsl(233, 12%, 13%);
    

    .row{
        padding: 60px 0 0 0;
    }

    .bottom-logo{
        padding: 10px;
    }
    .icons{
        display: inline-block;
        padding: 10px;
        margin-top: 50px;
        ion-icon{
            padding: 5px;
            font-size: 20px;
            color: $button-textColor;
            &:hover{
                cursor: pointer;
                color: $button-colors;
            }
        }
    }
}
.list-items{
    position: relative;
    
    ul{
        list-style: none;

        li{
            padding: 5px;
            color: hsl(0, 0%, 98%);
            &:hover{
                cursor: pointer;
                color: hsl(12, 88%, 59%);
            }
        }
    }
}
.right{
    position: absolute;
    top: 20px;
    right: 50px;
}

form{
    position: relative;
    left: 40px;
    padding: 10px;
    input{
        padding: 8px 8px;
        margin: 5px;
        border-radius: 20px;
        border: 1px;
        text-align: center;
        color: $button-colors;

        &::placeholder{
            color: $button-colors;
        }
    }
    .cta{
        box-shadow: none;
    }
}

.error-msg{

    position: relative;
    top: -1px;
    left: 20px;
    font-size: 14px;
    font-style: italic;
    
    color: $button-colors;
}
.copy-right{
    text-align: right;
    font-size: 12px;
    position: relative;
    right: 0;
    bottom: 0;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




// media queries

@media(max-width:768px){



    [class*="col-"] {
        float: left;
        padding: 15px; 
        width: 100%;
      }
     .row{
         width: 90%;
     }
      .desktop-view{
          display: none;
      }
      .mobile{
          display: block;
      }
      .introduction{
        text-align: center;
          h1{
              font-size: 30px;
              
          }
      }

      .navbar{
          .cta{
              display: none;
          }
      }

      .call-to-action{

        text-align: center;
         h4{
             font-size: 34px;
         }
        .cta{
            
            margin: 0;
            position: relative;
            top: 0;
            left: 0;
          }

        }

        .highlighted-headings{
            background-color:  hsl(13, 100%, 96%);
            padding: 3px 0;
            border-radius: 10px 0 0 10px;
            
        }
        .testimonial{
            .col-3{
                padding: 10px;
            }

            .avatars{
                width: 30%;
            }
        }

    
 
        footer{
            position: relative;
            
            
            .logo-icons,.copy-right{
                text-align: center;
            }
            .icons{
                margin: 0;
                margin-bottom: 20px;
                ion-icon{
                    font-size: 40px;
                }
            }
        }

        form{
        
          
            position: static;
            input{
                padding: 8px 8px;
                margin: 0;
                border-radius: 20px;
                border: 1px;
                text-align: center;
            }

            
        }

        .copy-right{
            position: static;
            text-align: center;
        }
}

@media(width:425px){
    
 
    .form-element{
        text-align: center;
    }
     
 }
@media(width:768px){
   .bottom-logo{
       display: block;
       position: relative;
       left: 240px;
       margin: 10px;
   }

   .form-element{
       text-align: center;
   }
    
}

@media(width:1024px){
    .introduction{
        h1{
            margin-top:30px;
            font-size: 35px;
        }
    }

    .testimonial{
        font-size: 14px;
        .row{
            width: 95%;
        }
    }

    .call-to-action{
        .row{
            width: 90%;
        }
        .cta{
            
            position: relative;
            top: 15px;
            left: 100px;
    
        }
    }
    footer{
        .row{
            width: 100%;
        }
        form{
            position: static;
        }
    }
     
 }